<div class="containee-fluid mt-5 service-style" id="serviceid">
    <div class="row">
        <div class="col-md-10  col-12 mx-auto">
            <h1 class="text-center main-heading">Our Services </h1>
            <p class="text-center sub-heading">grow your business with us</p>

            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon"> <img src="https://i.imgur.com/6NKPrhO.png"> </div>
                            <h4>Strategic Planning</h4>
                            <p>Consultancy firms can help businesses develop strategic plans that align with their goals and objectives. They analyze the business environment, assess strengths and weaknesses, and create a roadmap for achieving sustainable growth.Our consultancy firm collaborates closely with businesses to develop robust strategic plan and mitigate potential risks.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services speedup">
                            <div class="icon"> <img src="https://i.imgur.com/KMbnpFF.png"> </div>
                            <h4>Financial Consulting</h4>
                            <p> Financial consultants provide expertise in areas such as financial analysis, budgeting, cash flow management, and investment strategies.They help businesses make informed financial decisions.. Our consultants offer comprehensive financial analyses and innovative strategies to drive sustainable financial growth.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services privacy">
                            <div class="icon"> <img src="https://i.imgur.com/AgyneKA.png"> </div>
                            <h4>Human Resources Consulting</h4>
                            <p> Consultants in this field assist organizations with various HR aspects, including talent acquisition, performance management, training and development, employee engagement, and HR policy development. They help businesses create effective HR strategies to attract, retain, and develop top talent.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services backups">
                            <div class="icon"> <img src="https://i.imgur.com/vdH9LKi.png"> </div>
                            <h4>Marketing and Branding Consulting</h4>
                            <p>Marketing consultants help businesses develop comprehensive marketing strategies, identify target markets, and create brand positioning. They provide guidance on advertising, digital marketing, social media, market research, and brand management to enhance brand visibility and drive customer engagement.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services ssl">
                            <div class="icon"> <img src="https://i.imgur.com/v6OnUqu.png"> </div>
                            <h4>Operations and Supply Chain Consulting</h4>
                            <p>TConsultants specializing in operations and supply chain management assist businesses in optimizing their operational processes, streamlining supply chains, improving efficiency, reducing costs, and enhancing overall productivity. They analyze existing operations, identify bottlenecks, and propose solutions.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services database">
                            <div class="icon"> <img src="https://i.imgur.com/VzjZw9M.png"> </div>
                            <h4>IT and Technology Consulting</h4>
                            <p>In the digital era, IT and technology consulting services are in high demand. Consultants in this field offer expertise in areas such as IT infrastructure, cybersecurity, software development, digital transformation, and technology strategy.They help businesses leverage technology to enhance productivity, efficiency, and competitiveness.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
